
<ng-container *appDuplicate="false">
  {{ likeCount }}
</ng-container>


<ng-container [ngSwitch]="likeCount">
  <p *ngSwitchCase="0"> No meesage </p>
  <p *ngSwitchCase="likeCount === 1"> Some random message</p>
  <ng-container *ngSwitchDefault>
    <p  *ngFor="let comm of comments">
      {{ comm }}
    </p>
  </ng-container>
</ng-container>


<button mat-button (click)="showCard()">Show card</button>

<app-joke-card *ngIf="displayCard" [jokeText]="title" (buttonClicked)="buttonClicked($event)"></app-joke-card>

<router-outlet></router-outlet>
